*{
    box-sizing: border-box;
}
input[type=text], select,textarea {
        display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=text]:focus,textarea:focus {
    background-color: rgb(229, 176, 17);
  }
input:focus::placeholder, textarea:focus::placeholder{
    color: white;
}
input[type=submit]:active{
    border-color: #c83909;
    background-color: #e61207;
}
input[type=submit]{
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border-width: 4px;
    border-style: solid;
    background-color: #c83909;
    border-color: #c83909;
}
textarea{
    height: 200px;
    resize: none;
}